.custom-btn{
    background-color: none;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 1;
}
.custom-btn--primary{
    padding: 5px 10px;
    background-color: rgb(91, 94, 166);
    color: white;
    border: 4px solid rgb(91, 94, 166);
}
.custom-btn--primary:hover{
    color: rgb(91, 94, 166);
}
.custom-btn--icon{
    font-size: 1.75rem;
}
.custom-btn--icon:hover .custom-btn--fav{
    color: brown;
}
.custom-btn--large{
    font-size: 1.3rem;
    border-radius: 30px;
    padding: 10px 20px;
}
.custom-btn--search-filters{
    font-size: 1.3rem;
    border-radius: 30px;
    padding: 10px 20px;
    border:1px solid black;
    background-color: white;
}
.custom-btn--search-filters:hover{
    border:1px solid white;
    background-color: black;
    color: white;
}
.custom-btn--icon > *{
    width: 100%;
    height: auto;
}
.custom-btn--fav{
    background-color: white;
    padding: 10px;
    border-top-right-radius: 25px;
  
}
.custom-btn--fav-filled{
    color: red;
}

