.search-menu{
    width: 100%;
    height: 100%;
    background-color: white;
}

.search-menu__menu{
    z-index: 1;
    padding: 10px;
    padding-right:20px;
    position: fixed;
    height: 500px;
    border: 1px solid #ced4da;
    border-radius: 7px;
    top:80px;
}
.search-menu__body > *{
    margin:10px;
}
.search-menu__option{
    width:150px!important;
}
.search-menu__search-filters{
    font-size: 2rem;
}